{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h2>Your Orders</h2>
    {% for order in tom %}
    <div class="content-section">
            <div class="article-metadata">
                <small>Date ordered:{{order.date_created}}</small>
            </div>
                <h4>{{order.restaurantname}}</h4>
                {% for item in order.selecteditems %}
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        {{ item.name }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                        {{ item.price }} x {{ item.quantity }}
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8"></div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <b>Total price: </b> {{ order.price }}
                    </div>
                </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}